@import "tailwindcss";

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto.ttf') format('truetype'),
        url('../fonts/Roboto/Roboto-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Amarna';
    src: url('../fonts/Amarna/Amarna.ttf') format('truetype'),
        url('../fonts/Amarna/Amarna-Italic.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@layer base{
    :root{
        --font-sans: 'Amarna','Roboto', Arial, Helvetica, sans-serif
    }
    body{
        font-family: var(--font-sans);
    }
}

.shadow-top{
    box-shadow: -2px -3px 5px 0px rgba(0,0,0, .2);
}