@import "tailwindcss";

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto.ttf') format('truetype'),
        url('../fonts/Roboto/Roboto-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Amarna';
    src: url('../fonts/Amarna/Amarna.ttf') format('truetype'),
        url('../fonts/Amarna/Amarna-Italic.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@layer base{
    :root{
        --font-sans: 'Amarna','Roboto', Arial, Helvetica, sans-serif
    }
    body{
        font-family: var(--font-sans);
    }
}

.shadow-top{
    box-shadow: -2px -3px 5px 0px rgba(0,0,0, .2);
}

/* Animation Loader Dot  */

.dot {
  animation: blink 1.4s infinite both;
  font-size: 24px;
}

.dot:nth-child(1) {
  animation-delay: 0s;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

/* Animation Loader Dot  */

